<main class="page__main">
  <ul class="main__list js-list">
    <li class="js-list-element">
      <article class="page__card">
        <p class="js-title page__card--title">Nombre serie</p>
        <img
          class="js-image page__card--img"
          src="https://via.placeholder.com/210x295/ffffff/666666/?text=image-not-found"
          alt=""
        />
      </article>
    </li>
  </ul>

  <aside class="js-favorites-aside">
    <ul class="main__list js-list-favorites">
      <li class="js-list-element-favorite">
        <article class="page__card--favorite">
          <p class="js-title page__card--favorite-title">Nombre serie</p>
          <img
            class="js-image page__card--favorite-img"
            src="https://via.placeholder.com/110x195/ffffff/666666/?text=image-not-found"
            alt=""
          />
        </article>
      </li>
    </ul>
  </aside>
</main>
