<main class="main">
  <div class="main__container--search">
    <form action="" class="main__form js-form fly-in-left">
      <input
        name="search"
        type="text"
        class="main__form--input js-search-input"
        value="x"
        placeholder="Find your favorite show..."
      />
      <button type="search" class="js-search-btn main__form--btn">Search</button>
    </form>
  </div>
  <div class="main__container--cards">
    <section class="main__favorite js-favorite-shows"></section>
    <section class="main__search js-search-shows"></section>
  </div>
</main>
