<main class="main">
  <div class="main__container--search">
    <form action="" class="main__form js-form fly-in-right">
      <input
        name="search"
        type="text"
        class="main__form--input js-search-input"
        value=""
        placeholder="Find your favorite show..."
      />
      <button type="search" class="js-search-btn main__form--btn">Search</button>
    </form>
    <p class="js-warning search-warning hidden"></p>
  </div>
  <div class="main__container--cards">
    <section class="js-favorite-shows"></section>
    <section class="js-search-shows"></section>
  </div>
</main>
