// flex
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mediaqueries
@mixin tablet {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
