// flex
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// mediaqueries
@mixin mediaTablet {
  @media all and (min-width: 768px) {
    @content;
  }
}
@mixin mediaDesktop {
  @media all and (min-width: 1200px) {
    @content;
  }
}
