// fonts
$main-font-text: 'Rubik', sans-serif;
$defaultFontSize: 16;

// page colors
$color-bg: #222831;
$color-text: #ececec;
$color-brand: #f2a365;
$light-brand: #30475e;

// transitions
$trans-bt: 0.8s ease;
