// fonts
$main-font-text: 'Rubik', sans-serif;
$defaultFontSize: 16;

// page colors
$color-bg: #252c30;
$color-text: #a8d3d8;
$color-text-scn: #465a61;
$color-brand: #e91733;
$light-brand: #e63950;

// transitions
$trans-bt: 0.8s ease;
