.header {
  width: 100%;
  height: rem(150);
  padding: rem(40) 0 rem(15);
  background-color: $color-bg;

  &__title {
    font-family: $main-font-text;
    color: $color-text;
    text-align: center;
  }
}
