.main {
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: rem(10);
    &--input {
      font-size: rem(16);
      color: $color-text;
      background-color: $light-brand;
      width: auto;
      height: rem(40);
      padding: rem(5);
      margin: rem(10);
      border: rem(2) $color-brand solid;
      border-radius: rem(15);
      &::placeholder {
        font-size: rem(16);
        color: $color-text;
      }
      @include tablet {
        font-size: rem(32);
        height: rem(75);
        padding: rem(15);
        margin: rem(15);
        border: rem(3) $color-brand solid;
        &::placeholder {
          font-size: rem(24);
        }
      }
    }
    &--btn {
      cursor: pointer;
      width: rem(100);
      font-size: rem(22);
      margin: rem(10);
      background-color: $color-brand;
      color: $color-text;
      font-weight: 500;
      border: $color-brand rem(1) solid;
      border-radius: rem(15);
      transition: color $trans-bt, border $trans-bt, background-color $trans-bt;
      &:hover {
        background-color: $color-text;
        border: $color-text rem(1) solid;
        color: $light-brand;
      }
      @include tablet {
        width: rem(150);
        font-size: rem(32);
        margin: rem(15);
        border: $color-brand rem(2) solid;
        &:hover {
          border: $color-text rem(2) solid;
        }
      }
    }
  }
  &__card {
    &--title {
      font-size: rem(16);
      padding: rem(5);
      margin: rem(5);
      border-radius: rem(10);
      color: $color-text;
      text-align: center;
      @include tablet {
        font-size: rem(22);
      }
    }
    &--img {
      width: rem(100);
      border-radius: rem(10);
      cursor: pointer;
      @include tablet {
        width: rem(150);
      }
    }
    &--rating {
      display: inline-block;
      font-size: rem(14);
      background-color: $light-brand;
      padding: rem(5);
      border-radius: rem(10);
      color: $color-text;
      @include tablet {
        font-size: rem(18);
      }
    }
  }
  &__container {
    &--cards {
      display: flex;
    }
  }
  &__favorite {
    width: rem(130);
    background-color: $light-brand;
    border-radius: rem(15);
    margin: rem(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    @include tablet {
      width: auto;
      margin: rem(10) rem(20);
    }
  }
  &__search {
    width: 70%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-bg;
    width: auto;
    &--element {
      width: rem(120);
      @include flexCenter;
      flex-direction: column;
      background-color: $color-bg;
      border: $color-brand rem(2) solid;
      border-radius: rem(15);
      padding: rem(3);
      margin: rem(3);
      transition: transform $trans-bt;
      &:hover {
        transform: scale(1.05);
      }
      @include tablet {
        width: rem(200);
        padding: rem(5);
        margin: rem(5);
        border: $color-brand rem(3) solid;
      }
    }
  }
}

.fav {
  &__list {
    @include flexCenter;
    flex-flow: column wrap;
    background-color: transparent;
    &--li {
      @include flexCenter;
      flex-direction: column;
      border-radius: rem(15);
      padding: rem(5);
      margin: rem(10);
      background-color: $color-brand;
      transition: transform $trans-bt;
      width: rem(110);
      @include tablet {
        width: auto;
      }
    }
  }
  &__card {
    &--title {
      font-size: rem(12);
      width: auto;
      padding: rem(5);
      margin: rem(5);
      line-height: rem(20);
      font-weight: 400;
      border-radius: rem(10);
      color: $color-text;
      text-align: center;
      @include tablet {
        font-size: rem(16);
        width: rem(150);
      }
    }
    &--img {
      border-radius: rem(10);
      width: rem(100);
    }
    &--btn {
      cursor: pointer;
      background-color: $light-brand;
      padding: rem(5);
      margin: rem(5);
      border: rem(2) $color-brand solid;
      border-radius: rem(10);
      color: $color-text;
      &:hover {
        border: rem(2) $color-text solid;
        background-color: $color-text;
        color: $color-brand;
      }
    }
  }
  &__btn {
    cursor: pointer;
    width: rem(120);
    height: rem(40);
    font-size: rem(14);
    margin: rem(5);
    background-color: $color-bg;
    color: $color-text;
    border: $color-bg rem(2) solid;
    border-radius: rem(15);
    transition: color $trans-bt, border $trans-bt, background-color $trans-bt;
    &:hover {
      background-color: $color-brand;
      border: $color-brand rem(2) solid;
      color: $color-text;
    }
    @include tablet {
      width: rem(150);
      font-size: rem(18);
    }
  }
}

.card--favorite {
  background-color: $color-brand;
  border-radius: rem(15);
  padding: rem(5);
  margin: rem(5);
  @include tablet {
    margin: rem(10);
  }
}

// animation
.fly-in-right {
  animation: flyinRight 1.2s ease-in;
}
@keyframes flyinRight {
  0% {
    transform: translatex(rem(1000));
    opacity: 0;
  }
  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

.search-warning {
  width: rem(250);
  height: rem(80);
  padding: rem(20);
  margin: auto;
  font-size: rem(16);
  color: $color-text;
  text-align: center;
  background-color: $light-brand;
  border-radius: rem(15);
}

.main__card--sum {
  display: inline-block;
  background-color: $light-brand;
  margin: rem(5);
  border-radius: rem(15);
  cursor: pointer;
}

.main__card--sum .main__card--span {
  font-size: rem(14);
  visibility: hidden;
  width: rem(115);
  background-color: $color-bg;
  border: rem(1) solid $color-brand;
  color: $color-text;
  text-align: center;
  border-radius: rem(15);
  padding: rem(5);
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  @include tablet {
    width: rem(195);
  }
}

.main__card--sum:hover .main__card--span {
  visibility: visible;
  opacity: 1;
}
