.main {
  background-color: $color-bg;
  &__form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: rem(15);
    &--input {
      font-size: rem(32);
      color: $color-text;
      background-color: $light-brand;
      height: rem(75);
      padding: rem(15);
      margin: rem(15);
      border: 2px $color-brand solid;
      border-radius: rem(15);
      &::placeholder {
        font-size: rem(24);
        color: $color-text;
      }
    }
    &--btn {
      cursor: pointer;
      width: rem(150);
      font-size: rem(32);
      margin: rem(15);
      background-color: $color-brand;
      color: $color-text;
      font-weight: 500;
      border: $color-brand 2px solid;
      border-radius: rem(15);
      transition: color $trans-bt, border $trans-bt, background-color $trans-bt;
      &:hover {
        background-color: $color-text;
        border: $color-text 2px solid;
        color: $light-brand;
      }
    }
  }
  &__card {
    &--title {
      padding: rem(5);
      margin: rem(5);
      border-radius: 10px;
      color: $color-text;
    }
    &--img {
      border-radius: rem(10);
    }
  }
  &__container {
    &--cards {
      display: flex;
    }
  }
  &__favorite {
    width: 90%;
    background-color: $light-brand;
    border-radius: rem(15);
    margin: rem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &--btn {
      cursor: pointer;
      width: rem(150);
      height: rem(50);
      font-size: rem(18);
      margin: 10px;
      background-color: $color-bg;
      color: $color-text;
      border: $color-bg 2px solid;
      border-radius: rem(15);
      transition: color $trans-bt, border $trans-bt, background-color $trans-bt;
      &:hover {
        background-color: $color-brand;
        border: $color-brand 2px solid;
        color: $color-text;
      }
    }
  }
  &__search {
    width: 70%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-bg;
    &--element {
      cursor: pointer;
      @include flexCenter;
      flex-direction: column;
      background-color: $color-bg;
      border: $color-brand rem(3) solid;
      border-radius: rem(15);
      padding: rem(5);
      margin: rem(10);
      transition: transform $trans-bt;
      &:hover {
        transform: scale(1.05);
      }
    }
    &--fav {
      cursor: pointer;
      @include flexCenter;
      flex-flow: column wrap;
      background-color: transparent;
    }
    &--lifav {
      @include flexCenter;
      flex-direction: column;
      border-radius: rem(15);
      padding: rem(5);
      margin: rem(10);
    }
  }

  &__form {
    background-color: $color-bg;
  }
}

.page {
  &__card {
    &--title {
      background-color: $light-brand;
      padding: rem(5);
      margin: rem(5);
      border-radius: rem(10);
      color: $color-text;
    }
    &--img {
      border-radius: rem(10);
    }
    &--rating {
      background-color: $light-brand;
      padding: rem(5);
      margin: rem(5);
      border: rem(2) $color-brand solid;
      border-radius: rem(10);
      color: $color-text;
    }
  }
}

.card--favorite {
  background-color: $color-brand;
  border-radius: rem(15);
  padding: rem(5);
  margin: rem(10);
}
.hidden {
  display: none;
}
